/*
	_content.css
*/




//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	.flickity-slider{
		transform: inherit !important;
	}
	.bnr-carousel{
		background-color: white;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		background-position: center center;
	}
	.carousel-content{
		height: 100%;
		position: relative;
	}
	.desc-content{
		position: absolute;
		bottom: 60px;
		transform: translateX(-15px);
	}
	figure{
		height: 1000px;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}

	.bg-color-3{
		background-color: rgba($color-3, 0.5);
		border-radius: 15px;
		padding: 15px 20px;
	}
	//Навигация
	.flickity-page-dots{
		margin-bottom: 130px;
		@extend .container, .trans-h-center;
		text-align: left;
	}
	//Стрелки
	.carousel-prev-next{
		width: ingerit;
		//((100/12)*8)+%
		left: 50%;
		transform: translateX(-50%);
		.bg-wrapper{
			bottom: 0;
			position: absolute;
			background-color: $color-2;
			height: 40px; 
		}
		.next, .prev{
			color: white;
			width: 50%;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			.fa{
				padding-top: 10px;
			}
			&:hover{
				background-color: $color-3;
				color: white;
			}
		}
		.prev{
			left: 0;
		}
		.next{
			right: 0;
		}
	}

	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: 200px;
			.carousel-content{
				display: none;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}
.slider-feedback{
	position: absolute;
	top: 200px;
	z-index: 1;
	@extend .trans-h-center;
	pointer-events: none;
	*{
		pointer-events: auto;
	}
}
.slider-slogan.bg-color-3{
	margin-top: 400px;
	border-radius: 45px 0;
	h1{
		font-size: 3em;
		font-weight: 700;
		line-height: 100%;
		margin: 0;
	}
	p{
		font-size: 1.6em;
		font-weight: 300;
	}
}

.angle-bottom-notify{
	&:before{
		background-repeat: no-repeat;
		@extend .claf;
		background-image: url('../img/other/angle-bottom.png');
		background-position: top;
		background-size: contain;
		width: 30px;
		height: 18px;
		bottom: 0px;
		top: auto;
		left: 50%;
		transform: translateX(-50%) translateY(100%);
	}
}
.angle-bottom-left-notify{
	&:before{
		background-repeat: no-repeat;
		@extend .claf;
		background-image: url('../img/other/angle-bottom-left.png');
		background-position: top;
		background-size: contain;
		width: 38px;
		height: 40px;
		bottom: 0px;
		top: auto;
		left: 30%;
		transform: translateX(-50%) translateY(100%);
	}
}



//--short-howworking
.short-howworking-items{

	h1{
		font-weight: 300;
		font-size: 2.8em;
	}
	.bg-wrapper{
		transition: all 0.3s ease;
		padding: 10px 30px;
		position: relative;
		box-shadow: 0 0 40px -5px rgba(black, 0.5);
		border-radius: 15px;
		&:hover{
			//box-shadow: 0 0 20px -5px $color-1;
			transform: translateY(-10px);			
		}
	}
	.img{
		background-position: center;
		background-size: contain;
		height: 200px;
	}
	.circlenum-content{
		position: relative;
	}
	.circlenum{
		top: 0;
		left: -15px;
		position: absolute;
		border-radius: 50%;
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 30px;
		width: 60px;
		height: 60px;
		background-color: $color-2;
	}
}


//--short-comics--
.short-comics{
	.img{
		background-position: center; 
		background-size: contain;
		height: 698px;
	}
}


//--short-offer
.short-offer{
	background-image: url('../img/bg/bg-offer.jpg');
	background-size: cover;
	background-position: center;
}
.short-offer-items{
	figure{
		.bg-wrapper{
			position: relative;
			border-radius: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			min-height: 410px;
			box-shadow:  0 0 35px -7px black;
			background-color: white;
		}
	}
	.cap-content{
		min-height: 85px;
		h2{
			padding: 0 30px;
		}
	}
	.bg-icon{
		@extend .trans-h-center;
		top: 75px;
		line-height: 100%;
		pointer-events: none;
		opacity: 0.05;
		font-weight: 900;
		position: absolute;
		font-size: 250px;
		 .fa{
			font-size: 220px;
		 }
	}
	.desc-content{
		padding: 0 30px;
	}
	hr{
		border-color: $color-1;
	}

}
.iconlist-content{
	li{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 0.9em;
		font-weight: 600;
		i{
			color: $color-1;
			padding-left: 5px;
			vertical-align: middle;
		}
	}
}

//--short-video
.short-video{
	background-color: #1f2125;
	.video-content{
		iframe{
			width: 100%;
			height: 500px;
		}
		@media (max-width: 991px) {
			iframe{
				height: 360px;
			}
		}
		@media (max-width: 420px) {
			iframe{
				height: 240px;
			}
		}

	}	
}
//--short-solution
.short-solution{
	background-image: url('../img/bg/bg-solution.jpg');
	background-position: center;
}
.short-solution-items{
	i{
		font-weight: 300;
	}
	figure{
		.bg-wrapper{
			min-height: 320px;
			background-color: rgba(white, 0.2);
			border-radius: 15px;
		}
	}
}


//--short-tariffs-items
.short-tariffs{
	.entry-header{
		margin-top: 5px;
		margin-bottom: 5px;
	}
}
.short-tariffs-items{
	.bg-wrapper{
		transition: all 0.3s ease;
		overflow: hidden;
		border-radius: 15px;
		border: 1px solid black;
		background-color: white;
		.cap-content{
			height: 45px;
			transition: 0.3s ease;
		}
		&:hover, &.active{
			box-shadow: 0 0 30px -2px black;
			transform: scale(1.05);
			border-color: $color-1;
			.cap-content{
				background-color: $color-1;
			}
			.btn-def{
				background-color: $color-2;
			}
			
		}
		&:hover{
			z-index: 2;
		}		
	}
	.desc-content{
		margin-top: 30px;
		margin-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@media (max-width: 1199px){

	}
	@media (max-width: 991px){
		padding: 0 15px;
		.boxes-cell{
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
}

.short-tariffextend-items{
	.boxes-cell{
		.tooltip{	
			.tooltip-inner{
				background-color: $color-3;
				padding: 15px;
			}
		}
		a {
			display: block;
			.tooltip{
				transition: all 0.3s ease;
			}
			.btn-def:hover{
				transform: scale(1.5);	
				& ~ tooltip{
					transform: scale(1.5);	
				}
			}
		}
	}
	@media (min-width: 992px) {
		.boxes-cell{
			width: (100/5)+%;	
			&:nth-child(1){
				.bg-wrapper{
					border-right: 0;
					.cap-content{
						border-top-right-radius: 0;
						border-bottom-right-radius: 0;
					}
				}
				& ~ div:not(:nth-last-child(1)) .bg-wrapper{
					&{
						border-radius: 0;
					}
					.cap-content{
						border-radius: 0;
					}
					border-left: 0;
					border-right: 0;
				}
			}
			&:nth-last-child(1){
				.bg-wrapper{
					&, .cap-content{
						border-top-left-radius: 0;
						border-bottom-left-radius: 0;
					}
					border-left: 0;
				}
			}
		}
	}
	@media (max-width: 991px) {
		.boxes-cell{
			margin: 0 0;
		}
	}
	.bg-wrapper{
		transition: all 0.3s ease;
		height: 200px;
		border-radius: 15px;
		border: 1px solid black;
		border-top: transparent;
		z-index: 0;
		position: relative;
		background-color: white;
		.cap-content{
			border-radius: 15px 15px 0 0;
			height: 50px;
			transition: 0.3s ease;
		}
		&:hover, &.active{
			z-index: 1;
			box-shadow: 0 0 30px -2px black;
			transform: scale(1.05);
			border: 1px solid $color-1;
			border-radius: 15px !important;
			.cap-content{
				border-radius: 15px 15px 0 0 !important;
				background-color: $color-1;
			}
			.btn-def{
				background-color: $color-2;
			}
			
		}

		&:hover{
			z-index: 2;
		}
	}
	.desc-content{
		margin-top: 30px;
		margin-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@media (max-width:991px) {
		flex-direction: column;
		padding: 0 15px;
	}
}
.short-tariffsgive-items.figure-m-v-30{
	@media (min-width: 992px) {
		figure{
			margin-top: 10px;
			margin-bottom: 0;
		}
	}
}



.contacts-tabs{
	.collapse-item{
		margin: 15px 0;
	}
	.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
		background-color: $color-3 !important;
		color: white;
	}
	.collapse-content{
		padding: 0 20px;
		//height: 60px;
	}
	.tab-pane{
		padding: 0 15px;
	}
	@media (max-width:991px) {
		.tab-content{
			margin-top: 15px;
			margin-bottom: 15px;
		}
		text-align: left;
		.nav-tabs{
			padding: 20px 0;
			text-align: center;
			li{	
				width: 100%;
			}
		}
	}
}
.map-img{
	.img{
		position: relative;
		height: 560px;
		background-size: contain;
		background-position: 50% 50%;
	}
	.map-notify{
    left: 28.4%;
    top: 67%;
		box-shadow:  0 0 45px -6px black;
		padding:  3px 10px 10px;
		position: absolute;
		border-radius: 20px;
		min-width: 150px;
		background-color: white;
		&:before{
			@extend .claf;
			top: 0;
			width: 12px;
			height: 12px;
			transform: translate( 95px,-100%) scaleX(0.5);
			border: 12px solid transparent;	border-bottom: 12px solid white;
		}
		@media (max-width: 1199px) {
			left: 32.5%;
			top: 65.5%;
		}
		@media (max-width: 991px) {
			//left: 30.7%;
			//top: 63.2%;
			left: 0;
			position: relative;
		}

	}
}

//--short-feedback
.short-feedback{
	//background-image: url('../img/bg/bg-feedback.jpg');
	background-position: center;
	background-size: cover;
	@media (max-width: 991px) {
		h1 [class*='bg-color']{
			background-color: transparent;
		}
	}
	input, textarea{
		color: black;
		border-color: black;
		@include placeholder-color(black);
	}
	h1{
		color: black;
		span{
			color: white;
		}
	}
	p{
		color: black;
	}
	.select2-container--default .select2-selection--single{
		border-color: black;
		color: black;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		color: black;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{
		border-color: black transparent transparent transparent;
	}
}
.select2-container--default{
	width: 100% !important;
	.select2-selection--single{
		background-color: transparent;
		border: 1px solid white;
		border-radius: 15px;
		height: 40px;
		padding: 6px 7px;
		&:focus{
			outline: none;
		}
		.select2-selection__rendered{
			color: white;
		}
		.select2-selection__arrow b{
			border-color: $color-2 transparent transparent transparent;
		}
	}
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: rgba($color-2, 1);
	color: white;
	font-weight: 600;
}














//contacts
.contacts-form{
	input, textarea{
		@include placeholder-color(#111);
		padding-left: 25px;
		padding-right: 25px;
	}
	.input-content{
		position: relative;
	}
	.icon-content{
		position: absolute;
		right: 25px;
		top: 10px;
		font-size: 16px;
		color: rgba(black, 0.3);
	}
	.fa-user, .fa-phone{
		font-size: 20px;
	}
}
.contacts-info-items{
	.icon-content{
		width: 25px;
		height: 25px;
		background-color: $color-2;
		border-radius: 50%;
		font-size: 16px;
		text-align: center;
		color: white;
		.fa{
			padding: 5px 0;
		}
		.fa-envelope{
			font-size: 13px;
			padding: 0px;
		}
		.fa-headphones{
			padding: 6px 0;
		}
	}
}