/*
	_content.css
*/




//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	.flickity-slider{
		transform: inherit !important;
	}
	.bnr-carousel{
		background-color: white;
		background-repeat: no-repeat;
		position: relative;
		background-size: cover;
		background-position: center center;
	}
	figure{
		height: 1000px;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
			}
		}
	}

	.bg-color-3{
		background-color: rgba($color-3, 0.5);
		border-radius: 15px;
		padding: 15px 20px;
	}
	//Навигация
	.flickity-page-dots{
		margin-bottom: 130px;
		@extend .container, .trans-h-center;
		text-align: left;
	}
	//Стрелки
	.carousel-prev-next{
		width: ingerit;
		//((100/12)*8)+%
		left: 50%;
		transform: translateX(-50%);
		.bg-wrapper{
			bottom: 0;
			position: absolute;
			background-color: $color-2;
			height: 40px; 
		}
		.next, .prev{
			color: white;
			width: 50%;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			.fa{
				padding-top: 10px;
			}
			&:hover{
				background-color: $color-3;
				color: white;
			}
		}
		.prev{
			left: 0;
		}
		.next{
			right: 0;
		}
	}

	@media(max-width: 991px) {
		font-size: 0.9em;
		figure{
			height: 200px;
			.carousel-content{
				display: none;
			}
		}
		.bg-wrapper{
			width: 100%;
			transform: scale(0.8);
		}
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:370px) {
		word-wrap: break-word;
	}
}
.slider-feedback{
	margin-top: 200px;
}
.slider-slogan.bg-color-3{
	margin-top: 400px;
	border-radius: 45px 0;
	h1{
		font-size: 3em;
		font-weight: 700;
		line-height: 100%;
		margin: 0;
	}
	p{
		font-size: 1.6em;
		font-weight: 300;
	}
}

.angle-bottom-notify{
	&:before{
		@extend .claf;
		background-image: url('../img/other/angle-bottom.png');
		background-position: center;
		background-size: contain;
		width: 30px;
		height: 18px;
		bottom: 0px;
		top: auto;
		left: 50%;
		transform: translateX(-50%) translateY(100%);
	}
}
.angle-bottom-left-notify{
	&:before{
		@extend .claf;
		background-image: url('../img/other/angle-bottom-left.png');
		background-position: center;
		background-size: contain;
		width: 38px;
		height: 40px;
		bottom: 0px;
		top: auto;
		left: 30%;
		transform: translateX(-50%) translateY(100%);
	}
}



//--short-howworking
.short-howworking-items{

	h1{
		font-weight: 300;
		font-size: 2.8em;
	}
	.bg-wrapper{
		transition: all 0.3s ease;
		padding: 10px 30px;
		position: relative;
		box-shadow: 0 0 40px -5px rgba(black, 0.5);
		border-radius: 15px;
		&:hover{
			//box-shadow: 0 0 20px -5px $color-1;
			transform: translateY(-10px);			
		}
	}
	.img{
		background-position: center;
		background-size: contain;
		height: 200px;
	}
	.circlenum-content{
		position: relative;
	}
	.circlenum{
		top: 0;
		left: -15px;
		position: absolute;
		border-radius: 50%;
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 30px;
		width: 60px;
		height: 60px;
		background-color: $color-2;
	}
}


//--short-comics--
.short-comics{
	.img{
		background-position: center; 
		background-size: contain;
		height: 698px;
	}
}


//--short-offer
.short-offer{
	background-image: url('../img/bg/bg-offer.jpg');
	background-size: cover;
	background-position: center;
}
.short-offer-items{
	figure{
		.bg-wrapper{
			position: relative;
			border-radius: 15px;
			padding-top: 10px;
			padding-bottom: 10px;
			min-height: 410px;
			box-shadow:  0 0 35px -7px black;
			background-color: white;
		}
	}
	.cap-content{
		min-height: 85px;
		h2{
			padding: 0 30px;
		}
	}
	.bg-icon{
		@extend .trans-h-center;
		top: 75px;
		line-height: 100%;
		pointer-events: none;
		opacity: 0.05;
		font-weight: 900;
		position: absolute;
		font-size: 250px;
		 .fa{
			font-size: 220px;
		 }
	}
	.desc-content{
		padding: 0 30px;
	}
	hr{
		border-color: $color-1;
	}

}
.iconlist-content{
	li{
		margin-top: 10px;
		margin-bottom: 10px;
		font-size: 0.9em;
		font-weight: 600;
		i{
			color: $color-1;
			padding-left: 5px;
			vertical-align: middle;
		}
	}
}